.product-grid8 {
    font-family: Poppins, sans-serif;
    position: relative;
    z-index: 1;
    margin-bottom: 45px;
    margin-left: 20px;
}

.product-grid8 .product-image8 {
    border: 1px solid #e4e9ef;
    position: relative;
    transition: all .3s ease 0s
}

.product-grid8:hover .product-image8 {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15)
}

.product-grid8 .product-image8 a {
    display: block
}

.product-grid8 .product-image8 img {
    width: 100%;
    height: 245px;
}

.product-grid8 .pic-1 {
    transition: all .5s ease-out 0s;
}

.product-grid8 .product-content {
    padding: 20px 0 0;
}

.product-grid8 .price {
    color: #000;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: left;
    transition: all .3s
}

.product-grid8 .price span {
    color: #999;
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
    margin-left: 7px;
    display: inline-block
}


.product-grid8 .title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 30px;
    transition: all .3s ease 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-grid8 .title a {
    color: #000
}

.product-grid8 .title a:hover {
    color: #0081c2
}

.product-grid8 .all-deals {
    display: block;
    color: #fff;
    background-color: #2e353b;
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 22px 5px;
    transition: all .5s ease 0s
}

.product-grid8 .all-deals .icon {
    margin-left: 7px
}

.product-grid8 .all-deals:hover {
    background-color: #0081c2
}

@media only screen and (max-width: 990px) {
    .product-grid8 {
        margin-bottom: 30px
    }
}